PORT=5000
MONGODB_URI=mongodb://luannltce190980:<password>@ac-s9ods8k-shard-00-00.dsqtdlk.mongodb.net:27017,ac-s9ods8k-shard-00-01.dsqtdlk.mongodb.net:27017,ac-s9ods8k-shard-00-02.dsqtdlk.mongodb.net:27017/movie_rating_db?ssl=true&replicaSet=atlas-vkv7pl-shard-0&authSource=admin&appName=movie-cluster
JWT_SECRET=super_secret_key_2026